extends layout

block content
  h1= title
   p#server-time
   script(type='text/javascript').
    var HOST = location.origin.replace(/^http/, 'ws');
      var ws = new WebSocket(HOST);
      var el = document.getElementById('server-time');
      ws.onmessage = function (event) {
        el.innerHTML = 'Server time: ' + event.data;
      };
    

  h2 Dar de alta equipo
  form(action="/equipos/alta", method="post")
    input(type="text", name="username")
    input(type="submit")

  h2 Equipos en curso

  ul
  each equipo in equipos
    li
      = equipo.name
      | &nbsp;
      = equipo.alarms 
      | &nbsp;
      = equipo.datealarms
      | &nbsp;
      | (
      a(href="/equipos/" + equipo.id + "/destroy") Destroy
      | )
    ul
li